page-avatars {

    .content {
        background-color: #FFFFFF;
        font-weight: 300;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }

    .btn-container {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 30px;
    }

    .avatar-card {
        height: 200px;
        text-align: center;
    }

    .did-logo {
        width: 40px;
        margin-left: calc(50% - 20px);
        margin-top: 40px;
        margin-bottom: 20px;
    }

}
