<ion-header>
    <ion-navbar>
        <ion-title>{{"DIGITAL_ID" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="no-avatar" *ngIf="no_avatar">
        <ion-list class="content">
            <ion-row>
                <ion-col>
                    <p align="center">{{"DIGITAL_ID.INFORMATION" | translate}}</p>
                </ion-col>
            </ion-row>
            <ion-item [ngClass]="{'error-border': !validSymbol(symbol)}">
                <ion-label color="primary" floating>{{"CREATE_DID.SYMBOL" | translate}}</ion-label>
                <ion-input name="symbol" [(ngModel)]="symbol" maxlength="63" required></ion-input>
            </ion-item>
            <div no-lines class="advice">{{"HELP.CREATE_DID_NAME" | translate}}</div>
            <ion-item *ngIf="list_all_avatars.indexOf(symbol) !== -1" no-lines class="wrong-input">{{"CREATE_AVATAR.AVATAR_ALREADY_EXIST" | translate}}</ion-item>
            <ion-item *ngIf="symbol.length > 0 && symbol.length < 3" no-lines class="wrong-input">{{"CREATE_AVATAR.AVATAR_NAME_TOO_SHORT" | translate}}</ion-item>

            <ion-item [ngClass]="{'error-border': !validPassword(passphrase)}">
                <ion-label color="primary" floating>{{"PASSWORD" | translate}}</ion-label>
                <ion-input name="passphrase" type="password" [(ngModel)]="passphrase" required></ion-input>
            </ion-item>
            <br>
        </ion-list>
        <div class="btn-container">
            <ion-row>
                <button ion-button full [disabled]="!validSymbol(symbol)||!validPassword(passphrase)" (click)="confirm()" icon-left>
                    {{"CREATE_DID.CREATE_BTN" | translate}}
                </button>
            </ion-row>
            <br>
            <ion-row>
                <button ion-button color="secondary" full item-right icon-left (click)="cancel($event)" color="secondary">
                    {{'CANCEL'|translate}}
                </button>
            </ion-row>
        </div>
    </div>
    <div *ngIf="!no_avatar" class="content">
        <ion-row>
            <ion-col>
                <p align="center">{{"DIGITAL_ID.INFORMATION" | translate}}</p>
            </ion-col>
        </ion-row>
        <ion-card class="avatar-card" *ngFor="let avatar of avatars">
            <img class="did-logo" [src]="'assets/icon/did.png'">
            <h1>{{avatar.symbol}}</h1>
        </ion-card>
        <div class="btn-container">
            <ion-row>
                <button ion-button full clear (click)="gotoCreateAsset()" icon-left>
                    <ion-icon name="add"></ion-icon>{{"CREATE_DID.CREATE_ASSET_BTN" | translate}}
                </button>
            </ion-row>
            <br>
        </div>
    </div>
</ion-content>
