<ion-header>
    <ion-navbar>
        <ion-title>{{"CREATE_ASSET.TITLE" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="no-avatar">
        <ion-list class="content">
            <ion-row>
                <ion-col>
                    <p align="center">{{"CREATE_ASSET.INFORMATION" | translate}}</p>
                </ion-col>
            </ion-row>
            <ion-item>
                <ion-label color="primary">{{"CREATE_ASSET.BRAND"|translate}}</ion-label>
                <ion-select [(ngModel)]="brand.id" name="brand" multiple="false" okText="{{'OK'|translate}}" cancelText="{{'CANCEL'|translate}}" (ngModelChange)="onBrandChange(brand.id)">
                    <ion-option *ngFor="let brand of bags_info.brand" value="{{brand.id}}">{{brand.name}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item *ngIf="models && models.length > 0">
                <ion-label color="primary">{{"CREATE_ASSET.MODEL"|translate}}</ion-label>
                <ion-select [(ngModel)]="modelId" name="model" multiple="false" okText="{{'OK'|translate}}" cancelText="{{'CANCEL'|translate}}">
                    <ion-option *ngFor="let model of models" value="{{model.id}}">{{model.name}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label color="primary">{{"CREATE_ASSET.MATERIAL"|translate}}</ion-label>
                <ion-select [(ngModel)]="materialId" name="material" multiple="false" okText="{{'OK'|translate}}" cancelText="{{'CANCEL'|translate}}">
                    <ion-option *ngFor="let material of bags_info.material" value="{{material.id}}">{{material.name}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label color="primary">{{"CREATE_ASSET.LOCATION"|translate}}</ion-label>
                <ion-select [(ngModel)]="countryId" name="material" multiple="false" okText="{{'OK'|translate}}" cancelText="{{'CANCEL'|translate}}">
                    <ion-option *ngFor="let country of bags_info.countries" value="{{country.id}}">{{country.name}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label color="primary" floating>{{"CREATE_ASSET.SERIAL_NUMBER" | translate}}</ion-label>
                <ion-input type="number" name="serialNumber" [(ngModel)]="serialNumber" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-label color="primary">{{"CREATE_ASSET.COLOR"|translate}}</ion-label>
                <ion-select [(ngModel)]="colorId" name="color" multiple="false" okText="{{'OK'|translate}}" cancelText="{{'CANCEL'|translate}}">
                    <ion-option *ngFor="let color of bags_info.color" value="{{color.id}}">{{color.name}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label color="primary">{{"CREATE_ASSET.CONDITION"|translate}}</ion-label>
                <ion-select [(ngModel)]="conditionId" name="condition" multiple="false" okText="{{'OK'|translate}}" cancelText="{{'CANCEL'|translate}}">
                    <ion-option *ngFor="let condition of bags_info.condition" value="{{condition.id}}">{{condition.name}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label color="primary" floating>{{"CREATE_ASSET.PURCHASE_PRICE" | translate}}</ion-label>
                <ion-input type="number" name="price" [(ngModel)]="price" required></ion-input>
            </ion-item>
            <br>
        </ion-list>
        <div class="btn-container">
            <ion-row>
                <ion-col>
                    <button ion-button full color="secondary" (click)="confirm()" icon-left>
                        {{'CANCEL'|translate}}
                    </button>
                </ion-col>
                <ion-col>
                    <button ion-button full item-right icon-left (click)="cancel($event)">
                        {{'NEXT'|translate}}
                    </button>
                </ion-col>
            </ion-row>
        </div>
    </div>
</ion-content>
