<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        {{'MENU'|translate}}
        <button ion-item menuClose class="menu-close">
          <img class="menu-close-button" [src]="'assets/icon/close.png'">
        </button>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" icon-left>
        <!--ion-icon *ngIf="p.icon" name="{{p.icon}}"></ion-icon-->
        <img class="menu-icon" [src]="'assets/icon/'+p.icon+'.png'">
        <div class="menu-text">{{p.caption}}</div>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
