<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <img [src]="'assets/logo.png'">
        </ion-title>
        <ion-buttons end class="right-btn">
            <ion-spinner *ngIf="isSyncing()"></ion-spinner>
            <ion-icon *ngIf="isOffline()" name="flash" class="offlineIcon"></ion-icon>
            <button *ngIf="!isSyncing()" ion-button (click)="sync()" icon-left>
              <span><span class="height-text">{{height}}</span> <ion-icon name="cube"></ion-icon></span>
            </button>
            <!--button ion-button icon-left>
                <span *ngIf="platform.is('mobile')&&platform.is('ios')&&!isSyncing()" class="block-iPhone">{{height}} <ion-icon name="cube"></ion-icon></span>
                <span *ngIf="!(platform.is('mobile')&&platform.is('ios'))">{{height}} <ion-icon name="cube"></ion-icon></span>
            </button-->
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="center spread-out">
    <ion-refresher *ngIf="platform.is('mobile')&&!syncingSmall" (ionRefresh)="sync($event)">
        <ion-refresher-content class="mini-loader mini-loader-mobile"></ion-refresher-content>
    </ion-refresher>
    <div class="mini-loader" *ngIf="syncing&&balances==undefined"></div>
    <ion-list no-lines *ngIf="!syncing||balances!=undefined">
        <ion-grid>


            <ion-row *ngIf="balances!=undefined">
                <ng-container class="asset-container">
                    <ion-col *ngIf="balances.MST['LUXCHAIN.LXR']!==undefined" class="asset-container">
                        <mst-card [balance]="balances.MST['LUXCHAIN.LXR']" [symbol]="'LUXCHAIN.LXR'" [icon]="'LUXCHAIN.LXR'" [swap]="false"></mst-card>
                    </ion-col>
                </ng-container>
            </ion-row>
            <ion-row>
                <ng-container class="asset-container">
                    <ion-col class="asset-container">
                        <etp-card *ngIf="balances!=undefined" [balance]="balances.ETP" [tickers]="tickers.ETP" [base]="base"></etp-card>
                    </ion-col>
                </ng-container>
            </ion-row>
            <!--h2 [translate]="'HEADLINE_MIT'"></h2>
            <div *ngIf="balances!=undefined&&balances.MIT.length==0" [translate]="'NO_MIT_TEXT'"></div>
            <ion-row *ngIf="balances!=undefined">
                <ng-container *ngFor="let mit of balances.MIT" class="asset-container">
                    <ion-col class="asset-container">
                        <mit-card [avatar]="mit.owner" [symbol]="mit.symbol"></mit-card>
                    </ion-col>
                </ng-container>
            </ion-row-->
        </ion-grid>
    </ion-list>
</ion-content>
