<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
          <img [src]="'assets/logo.png'">
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="center spread-out">
    <ion-refresher *ngIf="platform.is('mobile')&&!syncingSmall" (ionRefresh)="sync($event)">
        <ion-refresher-content class="mini-loader mini-loader-mobile"></ion-refresher-content>
    </ion-refresher>
    <div class="mini-loader" *ngIf="syncing&&balances==undefined"></div>
    <ion-list no-lines *ngIf="!syncing||balances!=undefined">
        <ion-grid>
            <h2 [translate]="'DIGITAL_ASSET.TITLE'" class="page-title"></h2>
            <ion-row *ngIf="balances != undefined && balances.MIT != undefined">
                <ng-container *ngFor="let asset of balances.MIT" class="asset-container">
                    <ion-col class="asset-container">
                        <digital-asset-card [avatar]="mit.owner" [symbol]="mit.symbol"></digital-asset-card>
                    </ion-col>
                </ng-container>
            </ion-row>
            <ion-row *ngIf="balances == undefined || balances.MIT == undefined || balances.MIT.length == 0">
                <img class="no-asset-img" [src]="'assets/icon/no_digital_asset.png'">
                <h2 class="no-asset-txt">{{"DIGITAL_ASSET.NO_ASSET" | translate}}</h2>
            </ion-row>
            <div class="btn-container">
                <ion-row>
                    <button ion-button full (click)="create()" icon-left>
                        <img class="menu-close-button" [src]="'assets/icon/create_digital_asset.png'">
                        {{"DIGITAL_ASSET.CREATE_BTN" | translate}}
                    </button>
                </ion-row>
            </div>
        </ion-grid>
    </ion-list>
</ion-content>
