<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
          <img [src]="'assets/logo.png'">
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="center spread-out">
    <ion-refresher *ngIf="platform.is('mobile')&&!syncingSmall" (ionRefresh)="sync($event)">
        <ion-refresher-content class="mini-loader mini-loader-mobile"></ion-refresher-content>
    </ion-refresher>
    <div class="mini-loader" *ngIf="syncing&&balances==undefined"></div>
    <ion-list no-lines *ngIf="!syncing||balances!=undefined">
        <ion-grid>
            <h2 [translate]="'DIGITAL_ASSET.TITLE'" class="page-title"></h2>
            <ion-row *ngIf="balances!=undefined">
                <ng-container *ngFor="let asset of balancesKeys" class="asset-container">
                    <ion-col *ngIf="balances.MST[asset]!==undefined" class="asset-container">
                        <digital-asset-card [avatar]="toto" [symbol]="asset"></digital-asset-card>
                    </ion-col>
                </ng-container>
            </ion-row>
            <br>
        </ion-grid>
    </ion-list>
</ion-content>
