digital-asset-card {
    .container {
        width: 100%;
    }

    .content {
        width: 100%;
    }

    .confirmation-header {
        font-size: 22px;
        color: #4D4D4D;
        text-align: left;
    }

    .field-text {
        font-size: 16px;
        color: #999999;
    }

    .field-value {
        font-size: 22px;
        color: #4D4D4D;
    }
}
