digital-asset-card {
    .container {
        width: 100%;
    }

    .content {
        width: 100%;
    }

    .confirmation-header {
        font-size: 22px;
        color: #4D4D4D;
        text-align: left;
    }

    .confirmation-header .item-button {
        margin: 0;
        padding-bottom: 4px;
        font-size: 1.4rem;
        float: right;
        padding-right: 0;
    }

    .confirmation-header .label {
        height: 24px;
    }

    .confirmation-header img {
        padding-left: 10px;
        margin-right: 0;
    }

    .field-text {
        font-size: 16px;
        color: #999999;
    }

    .field-value {
        font-size: 22px;
        color: #4D4D4D;
    }

    .sell-btn {
        height: 50px;
    }

    .list {
        padding-bottom: 0;
    }
}
